<%- include partials/header %>
<%- include partials/navbar %>

<div class="container">
  <div class="col">
    <div class="row">
      <img class="profilePic" src="https://pbs.twimg.com/media/B0-RmE9CYAA1O71.jpg" alt="User Profile Picture"/>
      <div class="col">
        <h1>Welcome, <%=user.name%>!</h1>
        <br>
        <h2>Email: <%=user.email%></h2>
        <h2>Join Date: <%= moment(user.join_date).format('MMM DD, YYYY') %></h2>
        <br></br>
        <div>
          <div>
            <h1>Reviews</h1>
            <% reviews.forEach((review) => { %>
              <div id="<%= review.id %>">
                <div class="titleContainer">
                  <h5><a href="/albums/<%= review.album_id %>"><%= review.title %></a></h5>
                  <span><%= moment(review.date_created).format('MMM DD, YYYY') %></span>
                  <div class="pull-right">
                    <button onClick="deletePopup(<%= review.id %>)" class="fa fa-trash" ></button>
                  </div>
                </div>
                <div class="description">
                  <span><%= review.description %></span>
                </div>
                <br></br>
              </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% include partials/footer %>
